/* #root {
  margin: 0 auto;
} */

/* General */

* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}



/* flex and containers */


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.player-container {
  padding-top: 3rem;
}

.inline-style {
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
  padding-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
}

.nav-flex-container {
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}
/* nav ul {
  display: flex;
  gap: 1em;
} */

.nav-link {
  padding: 1em;
}

#main-menu {
  position:absolute;
  right: 100px;
}

#footer-menu {
  position:absolute;
  right: 100px;
}

#main-menu ul li:first-child {
  padding-left: 0;
}

ul {
  list-style-type: none;
}

#main-menu ul {
  margin: 0;
  font-size: 1.15em;
  text-decoration: none;
  list-style-type: none;
}

.flex-item1 {
  max-width: fit-content;
  max-height: 450px;
  flex: 2 0 0;
}

.basic-container {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  justify-content: center;
  padding: 6em 0 ;
}

.basic-item {
  padding: 2.5em;
}

.basic-item h2 {
  padding: .8em;
}

.basic-item p {
  padding: .6em;
}

.nav-link {
  padding: 1em;
}

nav ul li {
  gap: 1em;
}

.activeLink{
  background: none;
}


#header a {
  color: #FF9803;
  text-decoration: none;
}

#header a:hover {
  color: #F44236;
}

#logoBR {
  padding-left: 100px;
}

#mainAbout {
  text-align: left;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#mainAbout p {
  text-indent: 21px;
  line-height: 2em;
}


/* footer styles */

#goodbye {
  display: flex;
  gap: 1em;
  text-align: center;
  padding-top: 2em;
  justify-content: center;
}

#footer-menu a {
  color: #FF9803;
  text-decoration: none;
}

#footer-menu a:hover {
  color: #F44236;
}

#footer-menu ul li {
  font-size: 18px;
  margin: 0;
  display: inline-block;
  padding-left: 5.31em;
  padding-bottom: 1em;
}

#footer-menu ul li:first-child {
  padding-left: 0;
}

#copywrite {
  padding-left: 100px;
  font-size: .8em;
}

/* text stuff */


.orange-text {
  color:#FF9803;
}

.red-text {
  color: #F44236;
}

#heroText {
  margin-top: 166px;
  max-width: 557px;
}

.bolded {
  font-weight: 500;
  font-size: 1.2em;
}

p {
  /* padding: .6em; */
  font-size: 1.25em;
  line-height: 1.6em;
}

h2 {
  font-size: 1.8em;
  color: #F44236;
  /* padding: .8em; */
}

h3 {
  font-size: 1.25em;
  /* padding-right: 28px; */
  font-size: 17px;
  margin-top: 103px;
  font-weight: 500;
  color: #F44236;
  /* padding: 0%; */
  text-align: center;
  padding-bottom: 30px;
}


h4 {
  margin: 74px 0;
  font-size: 2.6em;
  text-align: center;
  color: #FF9803;
}

.padding-add {
  padding: .8em;
}

.padding-reset {
  padding: 0%;
}
